.castContainer {
  width: 100vw;
  max-width: 1400px;
  box-sizing: border-box;
}

.castList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.castItem {
  width: calc(20% - 20px);
  margin: 10px;
  text-align: center;
}

.castImg {
  width: 70%;
  height: auto;
  border-radius: 8px;
}

.castName {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.castCharacter {
  font-size: 16px;
  color: #666;
  margin-top: 5px;
}
