.movieDetailsContainer {
  max-width: 800px;
  padding: 50px;
}

.movieTitle {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.movieOverview {
  font-size: 20px;
  color: #666;
  margin-bottom: 30px;
}

.navigationList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigationItem {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 50px;
}

.movieInfo {
  list-style: none;
  padding: 0;
  margin: 0;
}

.moviePoster {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-right: 20px;
  margin-bottom: 50px;
}

.movieRelease,
.movieRating {
  font-size: 20px;
  color: #666;
  margin-bottom: 15px;
}

.movieGenres {
  font-size: 20px;
  color: #666;
  margin-bottom: 50px;
}

.genre {
  margin-right: 5px;
  color: #444;
}

.title {
  font-size: 24px;
  color: #444;
  margin-bottom: 20px;
}
