.movieDetailsContainer {
  padding: 50px;
}

.movieDetails {
  display: flex;
  align-items: flex-start;
}

.moviePoster {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.movieInfoContainer {
  flex-grow: 1;
  padding-left: 50px;
}

.movieTitle {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.movieOverview {
  font-size: 20px;
  color: #666;
  margin-bottom: 10px;
}

.movieRelease,
.movieRating,
.movieGenres {
  font-size: 20px;
  color: #444;
  margin-bottom: 15px;
}

.genre {
  margin-right: 5px;
  color: #444;
}

.title {
  font-size: 24px;
  color: #444;
  margin-bottom: 20px;
}

.navigationList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigationItem {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 50px;
}
